<link href="{{url_for('static',filename='css/login.css')}}" rel="stylesheet">


<div class="modal fade" id="buyer_login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form method="POST" action="" class="form-signin">
              <label for="inputEmail">Username</label>
              <div class="form-label-group">
                {{ login_form.hidden_tag() }}
                {{login_form.username(class="form-control" , placeholder="Username" , required="",  autofocus="")}}
              </div>
              <label for="inputPassword">Password</label>
              <div class="form-label-group">
                {{login_form.password( class="form-control" , placeholder="Password", required="")}}
              </div>

              <div class="custom-control custom-checkbox mb-3">
                {{login_form.remember(class="custom-control-input" , id="customCheck1")}}
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              {{login_form.login(class="btn btn-lg btn-primary btn-block text-uppercase", id='login_submit')}}
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google - TBD</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook - TBD</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>