      <!--Section: Products v.3-->
      <section id='sec' class="text-center mb-4">
        <h1>Shop by category</h1>
        <!--Grid row-->


        {% if categorys %}
        <div class="row wow fadeIn">
        {% for cat in categorys %}
                  <!--Grid column-->
                  <div class="col-lg-3 col-md-6 mb-4"  >

                    <!--Card-->
                    <div class="card category" data-link="/results?category_list={{cat.id}}">

                      <!--Card image-->
                      <div class="view overlay">

                        <img src="{{cat.photo}}" class="card-img-top card_cat_img"
                          alt="">
                      </div>
                      <!--Card image-->

                      <!--Card content-->
                      <div class="card-body text-center">
                        <!--Category & Title-->
                        <h5>
                          <strong>
                            <div class="dark-grey-text">{{cat.name}}
                            </div>
                          </strong>
                        </h5>
                      </div>
                      <!--Card content-->
                    </div>
                    <!--Card-->
                  </div>
        {% if loop.index is divisibleby 4 %}
      </div>
      {% if not loop.last %}
      <div class="row wow fadeIn">
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}


      </section>
      <!--Section: Products v.3-->