      <!--Section: Products v.3-->
      <section id='sec' class="text-center mb-4">
        <h1>Shop by category</h1>
        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card category">

              <!--Card image-->
              <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                  alt="">
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <h5>
                  <strong>
                    <div class="dark-grey-text">Sports
                    </div>
                  </strong>
                </h5>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card category">

              <!--Card image-->
              <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg" class="card-img-top"
                  alt="">
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <h5>
                  <strong>
                    <div href="" class="dark-grey-text">house</div>
                  </strong>
                </h5>
              </div>
              <!--Card content-->
            </div>
            <!--Card-->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card category">

              <!--Card image-->
              <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg" class="card-img-top"
                  alt="">
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <h5>
                  <strong>
                    <div href="" class="dark-grey-text">electronics </div>
                  </strong>
                </h5>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card category">

              <!--Card image-->
              <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" class="card-img-top"
                  alt="">
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <h5>
                  <strong>
                    <div href="" class="dark-grey-text">Men Clothing</div>
                  </strong>
                </h5>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Fourth column-->

                  <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card category">

              <!--Card image-->
              <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg" class="card-img-top"
                  alt="">
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">

                <h5>
                  <strong>
                    <div class="dark-grey-text">Women Clothing</div>
                     <!-- <span class="badge badge-pill danger-color">NEW</span> -->
                  </strong>
                </h5>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card category">

              <!--Card image-->
              <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg" class="card-img-top"
                  alt="">
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <h5>
                  <strong>
                    <div href="" class="dark-grey-text">phone accessories</div>
                  </strong>
                </h5>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card category">

              <!--Card image-->
              <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" class="card-img-top"
                  alt="">
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <h5>
                  <strong>
                    <div class="dark-grey-text">Phones </div>
                    <!--  <span class="badge badge-pill primary-color">bestseller</span> -->
                  </strong>
                </h5>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card category">

              <!--Card image-->
              <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                  alt="">

              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <h5>
                  <strong>
                    <div class="dark-grey-text">computer and office </div>
                  </strong>
                </h5>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Fourth column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->