{% extends "suppliers/sup_layout.html" %}
{% block content %}

<link href="{{url_for('static',filename='suppliers/css/index.css')}}" rel="stylesheet">

<div id="sup_login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Byebuy Suppliers login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form id='login_form'  method="POST"  class="form-signin">
              <label for="inputEmail">Username</label>
              <div class="form-label-group">
                {{ sup_loginform.hidden_tag() }}
                {{sup_loginform.username(class="form-control" , placeholder="Username" , required="",  autofocus="")}}
              </div>
              <label for="inputPassword">Password</label>
              <div class="form-label-group"></div>
                {{sup_loginform.password(class="form-control" , placeholder="password" , required="",  autofocus="")}}
              </div>

              <div class="custom-control custom-checkbox mb-3">
                {{sup_loginform.remember(class="custom-control-input" , id="customCheck1")}}
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <hr class="my-4">
              {{sup_loginform.supplier_login(class="btn btn-lg btn-success btn-block text-uppercase", id='login_submit')}}
              
            </form>
            <hr>
            <button id='toggle1' class="tgl btn btn-lg btn-primary btn-block text-uppercase" type="submit"> Add your store </button>
            {% if messages['connection_error'] %}
            {{messages['connection_error']}}
            {% endif %}
        </div>
        </div>
      </div>
    </div>
    
  </div>

  <div id="sup_signup_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Byebuy Suppliers signup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form id='signup_form' method="POST"  class="form-signin">
                {{ sup_signupform.hidden_tag() }}
              <label for="inputEmail">Email :</label>
              <div class="form-label-group">
                {{ sup_signupform.email() }}
              </div>
              <label for="inputEmail">Username :</label>
              <div class="form-label-group">
                {{ sup_signupform.username() }}
              </div>
              <label for="inputPassword">Password</label>
              <div class="form-label-group">
                {{ sup_signupform.password() }}
              </div>
              <label for="inputEmail">name :</label>
              <div class="form-label-group">
                {{ sup_signupform.name() }}
              </div>
              <label for="inputEmail">type_of :</label>
              <div class="form-label-group">
                {{ sup_signupform.type_of() }}
              </div>
              <label for="inputEmail">address :</label>
              <div class="form-label-group">
                {{ sup_signupform.address() }}
              </div>
              <hr class="my-4">
              {{ sup_signupform.supplier_signup() }}
            </form>
            <hr>
            <button id='toggle2' class="tgl btn btn-lg btn-secondary btn-block text-uppercase" type="submit"> Have an account? Log in</button>
            {% if messages['signup_error'] %}
            {{messages['signup_error']}}
            {% endif %}
        </div>
        </div>
      </div>
    </div>

  </div>


<script type="text/javascript" src="{{url_for('static',filename='suppliers/js/index.js')}}" ></script>
{% endblock %}
