{% extends "suppliers/sup_layout.html" %}
{% block content %}

<link href="{{url_for('static',filename='suppliers/css/supplier_account.css')}}" rel="stylesheet">


<div class="card">
    <div class="card-body">
        <h4 class="card-title">My Account</h4>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img id="supplier_img" src="{{supplier.photo}}">
                    <form method="post" action="" enctype="multipart/form-data" id="myform">
                        <div id='preview' class='preview'>
                            <h2>Preview :</h2>
                            <img src="" id="img" class='product_img product_pic'>
                        </div>
                        <div id='photo_upload' class="custom-file">
                            <input class="custom-file-input" id="file" name="file" type="file">
                            <label class="custom-file-label" for="file">Product picture</label>
                            <div class="justify-content-center m-2 row" >
                                <input type="button" class="button" value="Upload" id="but_upload">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <p>Name :<input class="form-control" type="text" id='name' disabled  value="{{supplier.name}}">  <span> <i id='name_edit' data-sibling='name_confirm' data-change='name'  class="fas fa-edit change"></i><i id='name_confirm' data-sibling='name_edit' data-change='name' class="fas fa-check-circle change confirm" style="display: none;"></i> </span> </p>

                    <p>Email :<input class="form-control" type="text" id='email' disabled  value="{{supplier.email}}">  <span> <i id='email_edit' data-sibling='email_confirm' data-change='email'  class="fas fa-edit change"></i><i id='email_confirm' data-sibling='email_edit' data-change='email' class="fas fa-check-circle change confirm" style="display: none;"></i> </span> </p>

                    <p>Address :<input class="form-control" type="text" id='address' disabled  value="{{supplier.address}}">  <span> <i id='address_edit' data-sibling='address_confirm' data-change='address'  class="fas fa-edit change"></i><i id='address_confirm' data-sibling='address_edit' data-change='address' class="fas fa-check-circle change confirm" style="display: none;"></i> </span> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{url_for('static',filename='suppliers/js/supplier_account.js')}}" ></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js" integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>

{% endblock %}