{% extends "layout.html" %}
{% block content %}

<link href="{{url_for('static',filename='css/account.css')}}" rel="stylesheet">



<div class="container">

  <div class="accordion" id="accordionExample275">
    <div class="card z-depth-0 bordered">
      <div class="card-header" id="headingOne2">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne2"
            aria-expanded="true" aria-controls="collapseOne2">
            My details
          </button>
        </h5>
      </div>
      <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2"
        data-parent="#accordionExample275">
        <div class="card-body">
            <h4 class="card-title">My Details</h4>
            <hr>
                    <div class="form-group row">
                        <label for="inputName" class="col-auto col-form-label">Full name :</label>
                        <div class="col-auto">
                            <input value="{{data.buyer.name}}" disabled type="text" class="form-control" name="name_input" id="name_input" placeholder="">
                        </div>
                      <div class="col-auto">
                          <button id='name_input_edit' type="submit" class="btn btn-primary">Edit</button>
                      </div>
                      <div class="col-auto">
                          <button id='name_input_confirm' type="submit" class="btn btn-primary" disabled>Confirm</button>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="inputName" class="col-auto col-form-label">Address :</label>
                      <div class="col-auto">
                          <input  value="{{data.buyer.address}}" disabled type="text" class="form-control" name="address_input" id="address_input" placeholder="">
                      </div>
                    <div class="col-auto">
                        <button id='address_input_edit' type="submit" class="btn btn-primary">Edit</button>
                    </div>
                    <div class="col-auto">
                        <button id='address_input_confirm' type="submit" class="btn btn-primary" disabled>Confirm</button>
                    </div>
                    
                  </div>
          </div>
      </div>
    </div>
    <div class="card z-depth-0 bordered">
      <div class="card-header" id="headingTwo2">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
            data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
            My Payment Methods 
          </button>
        </h5>
      </div>
      <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
        data-parent="#accordionExample275">
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="card z-depth-0 bordered">
      <div class="card-header" id="headingThree2">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
            data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
            My Orders
          </button>
        </h5>
      </div>
      <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2"
        data-parent="#accordionExample275">
        <div >
            <ul class="list-group">
                {% if current_user.orders %}
                {% for order in current_user.sorted_orders %}

                <li class="list-group-item">
                    <div class="justify-content-center row">
                        <h3> order id : {{order.id}} </h3>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img style="max-width: 125px;" src="{{order.product.picture}}" alt="">
                        </div>
                        <div class="col">
                            <div class="row">
                            Product name : {{order.product.name}}
                        </div>
                        <div class="row">
                            Order date  : {{order.order_time.strftime("%d/%m/%y")}}
                        </div>
                        </div>
                        <div class="col">
                            <div class="row">
                              Status : <span id="s{{order.id}}"> {{order.the_status.name}}  </span>
                            </div>
                        </div>
                        <div class="col">
                            {% if order.status == 2  %}
                            <button type="button" name="{{order.id}}" data-order_id="{{order.id}}" id="{{order.id}}" class="btn btn-primary btn-lg confirm">Confirm Received</button>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

              </ul>
        </div>
      </div>
    </div>
  </div>

</div>







<script type="text/javascript" src="{{url_for('static',filename='js/account.js')}}" ></script>




{% endblock %}