{% extends "layout.html" %}
{% block content %}

<link href="{{url_for('static',filename='css/my_cart.css')}}" rel="stylesheet">

<div class="container">

    <div class="justify-content-center row">
        <div class="col">
            {% if action %}
            {% if action.success %}
            <div class="alert alert-success font-weight-bold text-center" role="alert">
            {% if action.type == 'remove' %}
                {{action.item.cart_product.name}} removed successfully !
            {% elif action.type == 'buy_one' %}
                {{action.item.cart_product.name}} Ordered successfully -  Order id : <a href="/account?focus_order={{action.item.order_id.id}}"> {{action.item.order_id.id}} </a>
            {% elif action.type == 'buy_all' %}
                All items ordered successfully !
            {% endif %}
              </div>
            {% elif not action.success %}
            <div class="alert alert-danger font-weight-bold text-center" role="alert">
                Sorry, we couldn't perform action please try again later
            </div>
            {% endif %}
            {% endif %}
                <div class="card part">
                    <div class="card-header text-center">
                        <h1> Shopping Cart (<span id='cart_count'>{% if current_user.open_cart %} {{current_user.open_cart | length }} {% else %} 0 {% endif %} </span>) </h1>
                    </div>
                  </div>
            <div class="row">
                <div class="col">
                        <div class="card part">
                            <div class="card-body">
                              <h2 class="card-title text-center">Shipping Information</h2>
                              <div class="container">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">To</span>
                                    </div>
                                    <input id='to' value="{{current_user.name}}" type="text" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Address :</span>
                                    </div>
                                    <textarea id='address' disabled class="form-control" aria-label="With textarea">{{current_user.address}}</textarea>
                                  </div>
                                    <div class="justify-content-center row">
                                    <button id='change_shipping_info' type="button" class="btn btn-outline-secondary btn-md btn_radius">Change</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>



            </div>


            <div class="row">
                <div class="col">
                        <div class="card part">
                            <div class="card-body">
                                <div class="row justify-content-center row">
                                    <div class="paymentCont">
                                                    <div class="headingWrap">
                                                            <h3 class="headingTop text-center">Select Your Payment Method</h3>	
                                                    </div>
                                                    <div class="paymentWrap">
                                                        <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                                                            <label class="btn paymentMethod active">
                                                                <div class="method visa"></div>
                                                                <input type="radio" name="options" checked> 
                                                            </label>
                                                            <label class="btn paymentMethod">
                                                                <div class="method master-card"></div>
                                                                <input type="radio" name="options"> 
                                                            </label>
                                                            <label class="btn paymentMethod">
                                                                <div class="method amex"></div>
                                                                <input type="radio" name="options">
                                                            </label>
                                                             <label class="btn paymentMethod">
                                                                 <div class="method vishwa"></div>
                                                                <input type="radio" name="options"> 
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix footerNavWrap text-center">
                                                    </div>
                                                </div>
                                </div>
                            </div>
                          </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card part">
                        <div class="card-header text-center">
                            <h2>Items :</h2>
                        </div>
                        <div class="card-body">
                            <ul id='products'>
                                {% if current_user.open_cart %}
                                {% for cart_item in current_user.open_cart %}
                                
                                <div class="card-footer product_list_item">
                                    <div id="product_name id :207" class="row text-center justify-content-center h4">{{cart_item.cart_product.name}}</div>
                                    <div class="justify-content-center row text-center">
                                        <div class="col-3">
                                            <img src="{{cart_item.cart_product.picture}}" style="max-width: 125px;">
                                        </div>
                                        <div class="col mid">
                                            <div class="row justify-content-center">{{cart_item.cart_product.desc}}</div>
                                        </div>
                                        <div id="{{cart_item.id}}" class="col-3" style="max-width: 125px;">
                                            <button data-item_id="{{cart_item.id}}" class="btn btn-sm row buy_this btn_radius">Buy this</button>
                                            <button data-item_id="{{cart_item.id}}" class="btn btn-sm row remove_this btn_radius">Remove</button>
                                        </div>
                                    </div>
                                    <div id="sum_row" class="row text-center font-weight-bold">
                                        <div class="col">Qty : {{cart_item.qty}}</div>
                                        <div class="col">Price : {{cart_item.price}} $</div>
                                        <div class="col">Total : {{cart_item.total}} $ </div>
                                    </div>
                                </div>

                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                        <div class="card part">
                            <div class="card-body">
                                <div class="row justify-content-center row">
                                    <div class="paymentCont">
                                        <div class='text-center'> Total : <span id='total_price'>{% if current_user.open_cart %} {{current_user.open_cart_total_price}} {% endif %}</span> $ </div>
                                        <div>
                                           <a href="/my_cart?type=buy_all"> <button id='chackout' type="button" class="btn btn-default btn_radius" data-dismiss="modal">Chackout</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    
                </div>



            </div>

        </div>

        <!--
        <div class="col col-md-5 col-lg-4 col-lg-3">


                <div class="card part">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

        </div>
        -->


    

<script type="text/javascript" src="{{url_for('static',filename='js/my_cart/my_cart.js')}}" ></script>


{% endblock %}