{% extends "layout.html" %}
{% block content %}

<link href="{{url_for('static',filename='css/product2.css')}}" rel="stylesheet">

<script>
{% if product %}
product = JSON.parse('{{ product | tojson | safe}}');
{% endif %}
</script>

<div id='cont_product' class="container dark-grey-text">
    <div class="row justify-content-center">
        <div class="col">
            <img id='product_img' class='product_img product_pic' src="{{url_for('static',filename='img/sample.jpg')}}">
        </div>
        <div class="col">
            <p>Product name : <span id='name'></span></p>
            <p>Product desc : <span id='desc'></span></p>
            <p>Brand : <span id='brand'></span></p>
            <p>Seller : <span id='seller'></span> </p>
            <p>Price : <span id='price'></span> </p>
            <div class="form-group row order_tab">
                <div class="col form-group text-center">
                <label>qty</label>
                 <input id="qty" class="form-control text-center " placeholder="1" type="number" value="1">
                </div>
                    <div class="form-group col text-center">
                <label>Total</label>
                 <input id="total" class="form-control text-center " placeholder="$0" type="number" value="0" disabled>
                </div>
                
                </div>
            <button id='buy_now' type="button" class="btn btn-success btn_radius" role="button">Buy Now</button>
            <button id='add_to_cart' type="button" class="btn btn-primary btn_radius" role="button">Add to cart</button>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-9">
            <h4 class="text-center">Additional information</h4>
            <p id='more_info'>bdfkg flkhjdf gdkljgdf khjfdhl hfdiho hfdlkhf</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <span id='stars'>No Reviews yet</span>
                </div>
                <div class="col text-center">
                    <p><span id='sold'></span> Sold  </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-9 text-center">
            <h4 class="text-center">Pictures</h4>
            <img class='product_img product_pic big_product_imgs' src="{{url_for('static',filename='img/sample.jpg')}}">
        </div>
    </div>
    <hr>
    <h4 class="text-center">Reviews <span id='reviews_count'></span></h4>
    <div class="row justify-content-center">
        <ul id='reviews' class="col-9">
            
        </ul>
    </div>



    <div class="modal fade" id="cart_success" tabindex="-1" role="dialog" aria-labelledby="cart_success" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Item Added to your Shopping Cart

            </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                A new item has been added to your Shopping Cart. You now have <span id='items_count'></span> items in your Shopping Cart.

            </div>
            <div class="modal-footer justify-content-around">
                <a href="/my_cart"> <button id='continue_shopping' type="button" class="btn btn-danger btn_radius" data-dismiss="modal">View Shopping Cart</button> </a>
               <button id='View_Shopping_Cart' type="button" class="btn btn-outline-primary btn_radius">Continue Shopping</button> 
            </div>
          </div>
        </div>
      </div>


</div>




{% include 'index/buy_now_modal.html' %}







<script type="text/javascript" src="{{url_for('static',filename='js/product/product.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static',filename='js/product/buy_now_modal.js')}}" ></script>

{% endblock %}